
footer{
    /* padding-top: 50px;
    padding-bottom: 20px; */
    background-color: #0B0223;
    gap: 30px;
}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 100px;
}
footer section ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
footer section ul li{
    padding: 2rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.socail-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.socail-icon img{
    padding-left: 3rem;
    width: 30px;
    padding-bottom: 40px;
}
#footr-description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 30px;
}
#footr-description p, .ipad{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.ipad{
    padding-bottom: 6rem;
}
