@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

/* common Style  */
*{
    font-family: Work Sans;

    margin: 0;
    padding: 0;

}
.Linear{
    color: #ff42a5;
    font-family: Work Sans;
}
.h3-title{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
.btn-primary{
    border: none;
    padding: 1rem 3rem;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin: 1rem 0;
    color: #FFF;
    }

    .p-description{
        color: #534C64;
        
        font-family: Work Sans;
        font-size: 1rem;
      
        font-weight: 400;
        
    }
/* start nav */

header nav{
    display: flex;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 150px;
}
header nav div{
    display: flex;
    gap: 20px;
    
}

.icon img{
    max-height: 40px;
    /* padding-top: 50px; */
}


/* nav right */
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    text-decoration: none;
}
header nav ul a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    padding-left: 30px;
    font-weight: 500;
   
}
.nav-corner{
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-right{
    display: flex;
   align-items: center;
   padding-top: 20px;
  
   
    
}
.alada{
    padding-top: 10px;
}
.right-corner{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 16rem;
    height: 3rem;
   
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;   
}
.banner{
 display: flex;
 align-items: center;
 gap: 20px;
}
.banner-left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    
    /* max-height: 600px; */
    background-image: url('images/Group\ 14.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.banner-left h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.banner-left h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-left p{
    color: #534C64;
    
    font-size: 20px;
    font-weight: 500;
   
}
.banner-description{
    display: flex;
    flex-direction: column;
}
.btn-mora{
    border: none;
    padding: 1rem 3rem;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
}
.banner-right {
    max-width: 500px;
}
.banner-right img{
    max-width: 100%;
}



/*  res mobile*/
@media screen and (max-width: 576px) {
    header nav{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .banner{
        flex-direction: column; 
        height: auto;
        position: relative;
    }
        /* main */
    .section1{
        flex-direction: column;
        padding: 0;
        height: auto;
        position: relative;
    }  
    .section1-div1{
        padding: 300px 0;
        padding-bottom: 500px;
       
    }  
}